<!-- HEADER DA PÁGINA PRINCIPAL -->
<header>
    <div class="container">
        <div class="jumbotron">
            <img src="../images/logo.png"></a>
            <h2 style="color:#fafafa;">Comunicação Inteligente</h2>

            <h3 style="color:#fafafa;">Sistema de recomendação preditivo para site, email e aplicativo</h3>
            <br/>
            <a href="/user/new" class="btn btn-lg btn-primary">Cadastre-se Agora!</a>    
        </div>
    </div>  
</header>

