<!DOCTYPE html>
<html>
    <head>
        <title>Entrar Sistema Percycle </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <!--Adicionando aqui para que o cliente possa ter acesso ao csrf para que possa renderizar o serviço em cada página-->
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: "<%= _csrf %>"};
        </script>
    </head>

    <body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
        <div class="container-fluid">
            <!-- Bloco de código: Navbar -->
            <nav class="navbar navbar-default navbar-inverse">

            <!-- Bloco de código responsável pelo mecanismo da classe: collapse button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
            
            <!-- Bloco de código que irá controlar o número de linhas nas imagens que irão aparecer na nav collapse -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/#">Percycle</a>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            
                <!-- Ínicio de bloco de código do formulário de Login -->
                <form ng-submit="submitLoginForm()" class"navbar-form navbar-right">

                    <!-- Input: Email -->
                    <div class="form-group">
                        <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control"/>
                    </div>

                    <!-- Input: Senha -->
                    <div class="form-group">
                        <input ng-model="loginForm.senha" type="password" placeholder="Senha" name="senha" class="form-control"/>
                    </div>

                    <!-- Botão: Enviar --> 
                    <button type="submit" class="btn btn-success">
                        <span ng-show="!loginForm.loading">Entrar</span>
                        <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                        <span ng-show="loginForm.loading">Entrando...</span>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form>
            </nav>
            </div>
        </div>
        <h1> Página para Entrar
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.1.3.js"></script>
        <script src="/js/public/signup/SignupModule.js"></script>
        <script src="/js/public/signup/SignupController.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>