<!DOCTYPE html>
<html>
    <head>
        <title>Sistema Percycle </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <!--Adicionando aqui para que o cliente possa ter acesso ao csrf para que possa renderizar o serviço em cada página-->
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: "<%= _csrf %>"};
        </script>
    </head>

    <body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
        <div class="container-fluid">
            <!-- Bloco de código: Navbar -->
            <nav class="navbar navbar-default navbar-inverse">

            <!-- Bloco de código responsável pelo mecanismo da classe: collapse button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
            
            <!-- Bloco de código que irá controlar o número de linhas nas imagens que irão aparecer na nav collapse -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/#">Percycle Sistema</a>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            
                <!-- Ínicio de bloco de código do formulário de Login -->
                <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

                    <!-- Input: Email -->
                    <div class="form-group">
                        <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control"/>
                    </div>

                    <!-- Input: Senha -->
                    <div class="form-group">
                        <input ng-model="loginForm.password" type="password" placeholder="Senha" name="password" class="form-control"/>
                    </div>

                    <!-- Botão: Enviar --> 
                    <button type="submit" class="btn btn-success">
                        <span ng-show="!loginForm.loading">Entrar</span>
                        <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                        <span ng-show="loginForm.loading">Entrando...</span>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form>
            </nav>
        </div>
    </div>
    <!-- Final do bloco de código do formulário de Login -->

        <!-- Ínicio de bloco de código do formulário Criar Login --> 
        <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
            <h2 class="form-signin-heading">Criar Conta</h2>
            <div class="row">

                <!-- Bloco de código: Nome -->
                <div class="control-group form-group col-md-12" ng-class="{'has-error': signup.name.$invalid && signup.name.$dirty}">
                    <label>Nome Completo</label>
                    <input type="text" class="form-control" placeholder="ex.: Glaucia de Souza Lemos" name="name" ng-model="signupForm.name" ng-maxlength="50" required />
                
                    <!-- Aqui estamos definindo uma lógica em caso de não digitar o nome apresentará uma mensagem de erro -->
                    <span class="help-block has-error" ng-if="signup.name.$dirty">
                        <span ng-show="signup.name.$error.required">O campo 'Nome' é obrigatório.</span>
                        <span ng-show="signup.name.$error.maxlength">O campo 'Nome' não pode conter mais que 50 caracteres.</span>
                    </span>
                </div>

                <!-- Bloco de código: Email -->
                <div class="control-group form-group col-md-12" ng-class="{'has-error':signup.email.$invalid && signup.email.$dirty}">
                    <label>Digite seu E-mail</label>
                    <input type="email" class="form-control" placeholder="teste@email.com" name="email" ng-model="signupForm.email" required/>
            
                    <span class="help-block has-error" ng-if="signup.email.$dirty">
                        <span ng-show="signup.email.$error.required">O campo 'Email' é obrigatório</span>
                        <span ng-show="signup.email.$error.email">Endereço de email inválido.</span>
                    </span>
                </div>

                <!-- Bloco de código: Senha -->
                <div class="control-group form-group col-md-6" ng-class="{'has-error':signup.password.$invalid && signup.password.$dirty}">
                    <label>Digite a Senha</label>
                    <input type="password" class="form-control" placeholder="Senha de 6 caracteres" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword" >
                    
                    <!-- Aqui estamos definindo uma lógica em caso de não digitar a senha apresentará uma mensagem de erro -->
                    <span class="help-block has-error" ng-if="signup.password.$dirty">
                        <span ng-show="signup.password.$error.required">O campo 'Senha' é obrigatório.</span>
                        <span ng-show="signup.password.$error.minlength">O campo 'Senha' deve conter 6 caracteres.</span>
                    </span>
                </div>

                <!-- Bloco de código: Confirmar Senha -->
                <div class="control-group form-group col-md-6">
                    <label>Confirme a Senha Digitada</label>
                    <input type="password" class="form-control" placeholder="Digite Novamente a Senha" name="confirmation" ng-model="signupForm.confirmPassword" required>
            
                     <!-- Aqui estamos definindo uma lógica em caso de não digitar a confirmação da senha apresentará uma mensagem de erro -->
                    <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
                        <span ng-show="signup.password.$error.compareTo">A senha não corresponde.</span>
                        <span ng-show="signup.confirmation.$error.required">A Confirmação da senha é obrigatório.</span>
                    </span>
                </div>
            </div>
            <!-- Fim do bloco de código do formulário Sair --> 

            <br/>
            
            <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
                <span ng-show="!signupForm.loading">Criar Conta</span>
                <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading"></span>
                <span ng-show="signupForm.loading">Cadastrando a sua nova conta....</span>
            </button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>

        <div class="container">
            <hr>
            <footer class="footer">
                <div class="footer-bottom">
                    <a href="http://www.code4coders.wordpress.com/"><center>Code4Coders</center></a>
                    <div><center>Copyright © Developed by Glaucia Lemos 2016 - Full Stack Developer. All Rights Reserved.</center></div>
                </div>
            </footer>
        </div>

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.1.3.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/public/signup/SignupModule.js"></script>
        <script src="/js/public/signup/SignupController.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>