<!-- PÁGINA RESPONSÁVEL POR ATUALIZAR O USUÁRIO CADASTRADO NO SISTEMA --> 

<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
    <h2>Atualizar Cadastro do Usuário</h2>

    <input value="<%= user.name %>" name="name" type="text" class="form-control"/>
    <input value="<%= user.email %>" name="email" type="text" class="form-control"/>

    <% if (session.authenticated && session.User.admin) {%>
        <% if (user.admin) { %>
            <label class="checkbox">
                <input type="checkbox" name="admin" checked value="yes"> Administrador
            </label>
        <% } else { %>
            <label class="checkbox">
                <input type="checkbox" name="admin" value="yes"> Administrador
            </label>
        <% } %>
    <% } %>

    <input type="submit" value="Atualizar Usuário" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>