<!-- PÁGINA DE CADASTRO DE NOVO USUÁRIO DO SISTEMA -->
<form action="/user/create" method="POST" class="form signin">
    <h2 class="form-signin-heading">Crie uma Conta</h2>

    <input type="text" class="form-control" placeholder="Nome Completo" name="nome"/>
    <input type="text" class="form-control" placeholder="E-mail" name="email"/>
    <input type="text" class="form-control" placeholder="Digite a Senha" name="senha"/>
    <input type="text" class="form-control" placeholder="Redigite a Senha" name="confirmacao"/>
    <br/>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Criar Conta"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>