<!-- PÁGINA DE CADASTRO DE NOVO USUÁRIO DO SISTEMA -->
<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
    <h2 class="form-signin-heading">Criar uma Conta</h2>

    <% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

    <div class="control-group">
        <input type="text" class="form-control" placeholder="Nome Completo" name="name"/>
    </div>

    <div class="control-group">
        <input type="text" class="form-control" placeholder="E-mail" name="email"/>
    </div>

    <div class="control-group">
        <input type="password" class="form-control" placeholder="Digite a Senha" name="password" id="password"/>
    </div>

    <div class="control-group">
        <input type="password" class="form-control" placeholder="Redigite a Senha" name="confirmacao"/>      
    <br/>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Criar Conta"/>        
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>